In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("/Users/kseniahabipova/Downloads/input"))

In [457]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [4]:
len(data)

1890

# Предобработка датасета

In [383]:
answer_ls = [4,2,3,2,1,5,2,1,4,5,3,1,3,4,5,1,3,3,2,1,4,2,3,1,5,1,4,2,5,2,5,5,3,1,5,4 ] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [ ]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

In [22]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data[(data.budget == data.budget.max())]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [ ]:
answer_ls.append(2)

In [23]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data[(data.runtime == data.runtime.max())]['original_title']

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [ ]:
answer_ls.append(3)

In [24]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data[(data.runtime == data.runtime.min())]['original_title']

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [ ]:
answer_ls.append(2)

In [27]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
round(data.runtime.mean())

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [ ]:
answer_ls.append(1)

In [28]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
round(data.runtime.median())

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [ ]:
answer_ls.append(5)

In [31]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']
data[(data.profit == data.profit.max())]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [ ]:
answer_ls.append(2)

In [32]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']
data[(data.profit == data.profit.min())]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [ ]:
answer_ls.append(1)

In [33]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']
data[(data.profit > 0)]['original_title'].count()

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [ ]:
answer_ls.append(4)

In [67]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']
new_data = data[(data.release_year == 2008)]
new_data[(new_data.profit == new_data.profit.max())]['original_title']

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [ ]:
answer_ls.append(5)

In [68]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']
new_data = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
new_data[(new_data.profit == new_data.profit.min())]['original_title']

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
answer_ls.append(3)

In [153]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.genres.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(
       data.drop('genres', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('genres'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data = data.groupby(['genres']).count()
new_data[(new_data.original_title == new_data.original_title.max())]['original_title']

genres
Drama    782
Name: original_title, dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
answer_ls.append(1)

In [152]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.genres.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(
       data.drop('genres', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('genres'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data = data[(data.profit > 0)].groupby(['genres']).count()
new_data[(new_data.profit == new_data.profit.max())]['original_title']

genres
Drama    560
Name: original_title, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(3)

In [129]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

new_data = data.groupby(['director']).count()
new_data[(new_data.original_title == new_data.original_title.max())]['original_title']

director
Steven Soderbergh    13
Name: original_title, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
answer_ls.append(4)

In [131]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

new_data = data[(data.profit > 0)].groupby(['director']).count()
new_data[(new_data.profit == new_data.profit.max())]['original_title']

director
Ridley Scott    12
Name: original_title, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [ ]:
answer_ls.append(5)

In [134]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

new_data = data.groupby(['director']).sum()
new_data[(new_data.profit == new_data.profit.max())]['profit']

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
answer_ls.append(1)

In [151]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.cast.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(
       data.drop('cast', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('cast'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data = data.groupby(['cast']).sum()
new_data[(new_data.profit == new_data.profit.max())]['profit']

cast
Emma Watson    6666245597
Name: profit, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
answer_ls.append(3)

In [150]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.cast.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(
       data.drop('cast', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('cast'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data = data[(data.release_year == 2012)].groupby(['cast']).sum()
new_data[(new_data.profit == new_data.profit.min())]['profit']

cast
Kirsten Dunst   -68109207
Name: profit, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
answer_ls.append(3)

In [149]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.cast.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(
       data.drop('cast', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('cast'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data = data[(data.budget > data.budget.mean())].groupby(['cast']).count()
new_data[(new_data.original_title == new_data.original_title.max())]['original_title']

cast
Matt Damon    18
Name: original_title, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
answer_ls.append(2)

In [166]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.cast.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('cast', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('cast'), len(c) - 1, np.concatenate(v))
data.columns = c


d = data.columns
e = data.genres.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('genres', 1).values.repeat(e.str.len(), axis=0))

data.insert(d.get_loc('genres'), len(d) - 1, np.concatenate(e))
data.columns = d

new_data = data[(data.cast == 'Nicolas Cage')].groupby(['genres']).count()
new_data[(new_data.original_title == new_data.original_title.max())]['original_title']

genres
Action    17
Name: original_title, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(1)

In [171]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data= data.groupby(['production_companies']).count()

new_data[(new_data.original_title == new_data.original_title.max())]['original_title']

production_companies
Universal Pictures    173
Name: original_title, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(4)

In [174]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data= data[(data.release_year == 2015)].groupby(['production_companies']).count()

new_data[(new_data.original_title == new_data.original_title.max())]['original_title']

production_companies
Warner Bros.    12
Name: original_title, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
answer_ls.append(2)

In [178]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c


d = data.columns
e = data.genres.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('genres', 1).values.repeat(e.str.len(), axis=0))

data.insert(d.get_loc('genres'), len(d) - 1, np.concatenate(e))
data.columns = d

new_data = data[(data.genres == 'Comedy')].groupby(['production_companies']).sum()
new_data[(new_data.profit == new_data.profit.max())]['profit']

production_companies
Universal Pictures    8961545581
Name: profit, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
answer_ls.append(3)

In [179]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data= data[(data.release_year == 2012)].groupby(['production_companies']).sum()

new_data[(new_data.profit == new_data.profit.max())]['profit']

production_companies
Columbia Pictures    2501406608
Name: profit, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
answer_ls.append(1)

In [192]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

# new_data= data[(data.production_companies == 'Paramount Pictures')].groupby(['original_title']).sum()

new_data= data[(data.production_companies.str.contains('Paramount'))].groupby(['original_title']).sum()

new_data[(new_data.profit == new_data.profit.min())]['profit']

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [ ]:
answer_ls.append(5)

In [185]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

new_data= data.groupby(['release_year']).sum()

new_data[(new_data.profit == new_data.profit.max())]['profit']

release_year
2015    18668572378
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
answer_ls.append(1)

In [191]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

new_data= data[(data.production_companies.str.contains('Warner'))].groupby(['release_year']).sum()

new_data[(new_data.profit == new_data.profit.max())]['profit']

release_year
2014    2292949646
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
answer_ls.append(4)

In [218]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

new_data = data['release_date'].str.split('/',expand=True)
new_data.columns=['month','day','year']

final_data = pd.concat([data,new_data],axis=1)

result_data = final_data.groupby(['month']).count()
result_data[(result_data.original_title == result_data.original_title.max())]['original_title']

month
9    227
Name: original_title, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
answer_ls.append(2)

In [231]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

new_data = data['release_date'].str.split('/',expand=True)
new_data.columns=['month','day','year']

final_data = pd.concat([data,new_data],axis=1)

result_data = final_data[(final_data.month == '6') | (final_data.month == '7') | (final_data.month == '8')].groupby(['month']).count()
result_data['original_title'].sum()

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [ ]:
answer_ls.append(5)

In [237]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

new_data = data['release_date'].str.split('/',expand=True)
new_data.columns=['month','day','year']

final_data = pd.concat([data,new_data],axis=1)


result_data = final_data[(final_data.month == '12') | (final_data.month == '1') | (final_data.month == '2')].groupby(['director']).count()
result_data[(result_data.original_title == result_data.original_title.max())]['original_title']

director
Peter Jackson    7
Name: original_title, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
answer_ls.append(2)

In [295]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']

new_data = data['release_date'].str.split('/',expand=True)
new_data.columns=['month','day','year']
new_data['month_year'] = (new_data['month'] + '/' + new_data['year'])

final_data = pd.concat([data,new_data],axis=1)

result_data = final_data.groupby(['month_year','month'])['profit'].sum().groupby(['month']).mean().sort_values(ascending=False)

display(result_data)

month
6     1.721954e+09
12    1.660192e+09
5     1.564970e+09
11    1.165885e+09
7     1.144243e+09
3     8.575135e+08
10    8.121817e+08
4     8.047503e+08
9     6.799326e+08
8     6.025382e+08
2     5.534109e+08
1     3.373053e+08
Name: profit, dtype: float64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(5)

In [296]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

data['letters'] = data.original_title.apply(lambda x: len(str(x)))

data.groupby(['production_companies'])['letters'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: letters, Length: 1772, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(5)

In [298]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.production_companies.str.replace('(\d+)-(\d+)', replace).str.split('|')

data = pd.DataFrame(data.drop('production_companies', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('production_companies'), len(c) - 1, np.concatenate(v))
data.columns = c

def whitespace(b):
    b=b.split()
    l=len(b)
    return l

data['words'] = data.original_title.apply(whitespace)
data.groupby(['production_companies'])['words'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Name: words, Length: 1772, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
answer_ls.append(3)

In [375]:
import pandas as pd
import re

data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')

def replace(x):
    i, j = map(int, x.groups())
    return ','.join(map(str, range(i, j + 1)))

c = data.columns
v = data.original_title.str.replace('(\d+)-(\d+)', replace).str.split(' ')

data = pd.DataFrame(data.drop('original_title', 1).values.repeat(v.str.len(), axis=0))

data.insert(c.get_loc('original_title'), len(c) - 1, np.concatenate(v))
data.columns = c

data['original_title'] = data.original_title.apply(lambda x: str(x).lower())

def Clean_words(x): 
    if re.search('\s', x): 
        return ''   
    else: 
        return x 

data['new_words'] = data.original_title.apply(Clean_words)

data['new_words'].nunique()

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
answer_ls.append(1)

In [1132]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
x = len(data['vote_average'])/100
new_data = data[['vote_average', 'original_title']]
df_sorted = new_data.sort_values('vote_average', ascending=False)

display(df_sorted[0:round(x)])

      vote_average                                     original_title
600            8.1                                    The Dark Knight
125            8.0                                 The Imitation Game
9              8.0                                         Inside Out
118            8.0                                       Interstellar
34             8.0                                               Room
1082           7.9      The Lord of the Rings: The Return of the King
873            7.9                                        The Pianist
1801           7.9                                            Memento
1192           7.9                                   12 Years a Slave
128            7.9                                          Gone Girl
138            7.9                           The Grand Budapest Hotel
119            7.9                            Guardians of the Galaxy
1184           7.9                            The Wolf of Wall Street
370            7.9                                          Inception
316            7.8                                           3 Idiots
1564           7.8              Eternal Sunshine of the Spotless Mind
497            7.8  The Lord of the Rings: The Fellowship of the Ring
28             7.8                                          Spotlight
1214           7.8                                 Dallas Buyers Club

In [1133]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['groups'] = pd.cut(data['vote_average'], bins=100)
new_data = data[['vote_average', 'original_title', 'groups']]
df_sorted = new_data.sort_values('vote_average', ascending=False)

display(df_sorted.head(20))

,vote_average,original_title,groups
600,8.1,The Dark Knight,"(8.052, 8.1]"
125,8.0,The Imitation Game,"(7.956, 8.004]"
9,8.0,Inside Out,"(7.956, 8.004]"
118,8.0,Interstellar,"(7.956, 8.004]"
34,8.0,Room,"(7.956, 8.004]"
1082,7.9,The Lord of the Rings: The Return of the King,"(7.86, 7.908]"
873,7.9,The Pianist,"(7.86, 7.908]"
1801,7.9,Memento,"(7.86, 7.908]"
1192,7.9,12 Years a Slave,"(7.86, 7.908]"
128,7.9,Gone Girl,"(7.86, 7.908]"
138,7.9,The Grand Budapest Hotel,"(7.86, 7.908]"
119,7.9,Guardians of the Galaxy,"(7.86, 7.908]"
1184,7.9,The Wolf of Wall Street,"(7.86, 7.908]"
370,7.9,Inception,"(7.86, 7.908]"
316,7.8,3 Idiots,"(7.764, 7.812]"
1564,7.8,Eternal Sunshine of the Spotless Mind,"(7.764, 7.812]"
497,7.8,The Lord of the Rings: The Fellowship of the Ring,"(7.764, 7.812]"
28,7.8,Spotlight,"(7.764, 7.812]"
1214,7.8,Dallas Buyers Club,"(7.764, 7.812]"
864,7.8,The Lord of the Rings: The Two Towers,"(7.764, 7.812]"

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
answer_ls.append(5)

In [1147]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
new_data = data['cast'].str.split('|',expand=True)
new_data.columns=['cast1','cast2','cast3','cast4','cast5']
x = new_data[(new_data.cast1 == 'Johnny Depp')&((new_data.cast1 == 'Helena Bonham Carter')|
                                           (new_data.cast2 == 'Helena Bonham Carter')|
                                           (new_data.cast3 == 'Helena Bonham Carter')|
                                           (new_data.cast4 == 'Helena Bonham Carter'))].count()
y = new_data[(new_data.cast1 == 'Hugh Jackman')&((new_data.cast1 == 'Ian McKellen')|
                                           (new_data.cast2 == 'Ian McKellen')|
                                           (new_data.cast3 == 'Ian McKellen')|
                                           (new_data.cast4 == 'Ian McKellen'))].count()
w = new_data[(new_data.cast1 == 'Vin Diesel')&((new_data.cast1 == 'Paul Walker')|
                                           (new_data.cast2 == 'Paul Walker')|
                                           (new_data.cast3 == 'Paul Walker')|
                                           (new_data.cast4 == 'Paul Walker'))].count()
z = new_data[(new_data.cast1 == 'Adam Sandler')&((new_data.cast1 == 'Kevin James')|
                                           (new_data.cast2 == 'Kevin James')|
                                           (new_data.cast3 == 'Kevin James')|
                                           (new_data.cast4 == 'Kevin James'))].count()
t = new_data[(new_data.cast1 == 'Daniel Radcliffe')&((new_data.cast1 == 'Rupert Grint')|
                                           (new_data.cast2 == 'Rupert Grint')|
                                           (new_data.cast3 == 'Rupert Grint')|
                                           (new_data.cast4 == 'Rupert Grint'))].count()
print(x,y,w,z,t)

cast1    4
cast2    4
cast3    4
cast4    4
cast5    4
dtype: int64 cast1    2
cast2    2
cast3    2
cast4    2
cast5    2
dtype: int64 cast1    3
cast2    3
cast3    3
cast4    3
cast5    3
dtype: int64 cast1    4
cast2    4
cast3    4
cast4    4
cast5    4
dtype: int64 cast1    8
cast2    8
cast3    8
cast4    8
cast5    8
dtype: int64

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(4)

In [993]:
data = pd.read_csv('/Users/kseniahabipova/Downloads/data.csv')
data['profit'] = data['revenue'] - data['budget']
data['films'] = 1
data['yes'] = np.where(data.profit <= 0, 0, 1)
data['no'] = np.where(data.profit <= 0, 1, 0)
# l = data[(data.director == 'Quentin Tarantino')|(data.director == 'Steven Soderbergh')|(data.director == 'Robert Rodriguez')
#         |(data.director == 'Christopher Nolan')|(data.director == 'Clint Eastwood')]
t = data.drop(['imdb_id','popularity','cast','tagline',
           'overview','runtime','genres','production_companies',
           'vote_count','vote_average','release_year','budget','revenue','release_date',
                      'profit','original_title'],axis=1)


new_data = t.groupby(['director']).sum()

new_data['sh'] = (new_data['yes']+1/new_data['films']+1)/(new_data['no']+1/new_data['films']+1)
new_data['sh'].sort_values(ascending=False)

director
Ridley Scott                    12.076923
Steven Spielberg                10.090909
Antoine Fuqua                    8.111111
Peter Jackson                    8.111111
Tim Burton                       8.111111
                                  ...
Andrew Davis                     0.428571
Michael Dowse                    0.428571
Brian Koppelman|David Levien     0.428571
Neil Marshall                    0.428571
Renny Harlin                     0.423077
Name: sh, Length: 958, dtype: float64

# Submission

In [382]:
len(answer_ls)

0

In [380]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []